header {
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    margin-bottom: 100px;
}

.header-logo {
    margin-right: auto;
}

.navbar-list {
    display: flex;
}

.navbar-item {
    font-size: 15px;
    line-height: 24px;
    padding: 16px;
}

.navbar-item:hover {
    opacity: 0.5;
}

.navbar-link {
    color: #050303;
}

.header-tel {
    color: #fff;
}
