.work-list {
    align-items: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.work-link {
    margin-left: 50%;
    margin-bottom: 56px;
}

.content-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}

.content-text {
    font-size: 16px;
    line-height: 24px;
}
